*{
    margin: 0px;
    padding: 0px;
  }
  body{
    background-color: black;
    color: white;
}
.heading-image img{
  width: 100%;
  height: 450px;
}
.menu-container{
  margin-left: 15%;
  margin-bottom: 50px;
}
.menu-title{
  margin-top: 40px;
  color: white;
  text-align: left;
  margin-left: 15%;
}
.heading-name {
  margin-top: 20px;
  color: white;
  text-align: center;
}

.heading-name hr {
  border: 1px solid white;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 70%;
}

.heading-name p {
  font-size: 34px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  text-align: left;
  padding: 15px;
}
.menu-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
  color: white;
  margin-top: 5%;
}

.item-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.item-name {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 22px;
  margin-top: 10px;
}

.item-price {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  margin-right: 35%;
}

.item-name::after {
  content: '.......................................................................................';
  display: inline-block;
  margin-left: 20px;
  color: white;
}

.item-description {
  font-weight: 100;
  margin-top: 15px;

}
